extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          |Welcome to our music blog where you can stay updated on the latest music news and rumors for festivals worldwide.
          br
          br
          | Whether you're passionate about music or simply enjoy keeping up with the latest trends, our blog offers news, editorials, and reviews in the music, film, and TV industries.
          br
          br
          | Join us to explore the world of music, discover new artists, and dive into the exciting world of music, film, and TV.