extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 music
        small &nbsp;Discover the Latest Music News and Reviews

    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') melody
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address A complete good mooder songs
            p
              span.label.label-warning likes
              | &nbsp;
              span.label.label-warning shares
              | &nbsp;
              span.label.label-warning comment

          .col-xs-12.list-group-item
            h4
              a(href='/location2') mass songs
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 200m
            p.address A complete mass beat songs
            p
              span.label.label-warning likes
              | &nbsp;
              span.label.label-warning share
              | &nbsp;
              span.label.label-warning comment
              | &nbsp;

          .col-xs-12.list-group-item
            h4
              a(href='/location3') top songs
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 250m
            p.address The top songs of the Week
            p
              span.label.label-warning play next
              | &nbsp;
              span.label.label-warning add to queue
              | &nbsp;

      .col-xs-12.col-sm-4
        p.lead
          | Discover the world of music through our blog. Whether you're a music enthusiast
        | or a casual listener, we have something for everyone. Explore the latest news,
        | editorials, and reviews in the music, film, and TV industries.
