extends layout

block content
  .row.page-header
    .col-lg-12
      h1 mass songs

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p A complete mass beat songs

        .panel.panel-primary
          .panel-heading
            h2.panel-title mass beats
          .panel-body
            p master - 2020
            p maari - 2016
            p vikram - 2021

        .panel.panel-primary
          .panel-heading
            h2.panel-title review
          .panel-body
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;likes
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;share
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;comment
              | &nbsp;

      .col-xs-12.col-sm-6.location-map
        .panel.panel-primary
          .panel-heading
            h2.panel-title Location map
          .panel-body
            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')

  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new')
            | Add review
        h2.panel-title Customer reviews
        .panel-body.review-container
          .row.review
            .well.well-sm.review-header
              span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
              span.reviewAuthor srikar
              small.reviewTimestamp 16 July 2013
            .col-xs-12
              p cant stop legs on floor

          .row.review
            .well.well-sm.review-header
              span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.reviewAuthor bharath
              small.reviewTimestamp 16 June 2013
            .col-xs-12
              p make body high

    .col-xs-12.col-md-3
      p.lead
        |mass beats 
      p
        |beats of telugu
