extends layout

block content
  .row.page-header
    .col-lg-12
      h1 top songs

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p The top songs of the Week

        .panel.panel-primary
          .panel-heading
            h2.panel-title weekends songs
          .panel-body
            p top telugu
            p top tamil
            p top hindi

        .panel.panel-primary
          .panel-heading
            h2.panel-title review
          .panel-body
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;likes
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;share
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;comment
              | &nbsp;

      .col-xs-12.col-sm-6.location-map
        .panel.panel-primary
          .panel-heading
            h2.panel-title Location map
          .panel-body
            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')

  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new')
            | Add review
        h2.panel-title Customer reviews
        .panel-body.review-container
          .row.review
            .well.well-sm.review-header
              span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
              span.reviewAuthor preethika
              small.reviewTimestamp 16 July 2013
            .col-xs-12
              p good top songs

          .row.review
            .well.well-sm.review-header
              span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.reviewAuthor venkat
              small.reviewTimestamp 16 June 2013
            .col-xs-12
              p always fav
    .col-xs-12.col-md-3
      p.lead
        | top most telugu songs 
      p
        | popular songs of the week
